<div class="container p-5">
  <h2>Portfolio</h2>
  <div class="row row-cols-3 text-light ">
    <div class="col">
      <div class="me-2 bg-dark ">
        <p class="border-bottom  border-light w-75 mx-auto p-2">WEB DESGIN</p>
      </div>
    </div>
    <div class="col">
      <div class="me-2 bg-dark-subtle">
        <p class="border-bottom border-light">Mobile DESGIN</p>
      </div>
    </div>
    <div class="col">
      <div class="me-2 bg-dark ">
        <p class="border-bottom border-light  w-75 mx-auto p-2">LOGO DESGIN</p>
      </div>
    </div>
    <div class="col">
      <div class="me-2 bg-dark-subtle">
        <p class="border-bottom border-light  w-75 mx-auto p-2">WEB APPLICATION DEVELOPMENT</p>
      </div>
    </div>
    <div class="col">
      <div class="me-2 bg-dark">
        <p class="border-bottom border-light  w-75 mx-auto p-2">MOBILE APPLICATION DEVELOPMENT</p>
      </div>
    </div>
    <div class="col">
      <div class="me-2 bg-dark-subtle">
        <p class="border-bottom border-light  w-75 mx-auto p-2">PWA DEVELOPMENT</p>
      </div>
    </div>
  </div>
</div>
