<div class="container mt-5 p-5">
  <div class="row">
    <div class="col-4"><h2 class="">About me</h2></div>
    <div class="col-8">
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nihil
          nemo reprehenderit nisi similique quisquam nostrum voluptates facere
          tempora assumenda asperiores error mollitia optio, dolor tempore unde
          molestiae earum recusandae atque voluptatem perferendis, quia itaque
          a. Consequuntur ipsum, vero quam voluptatem quis et qui tempora
          excepturi cum porro aliquam, esse labore cumque earum ipsam
          doloremque! Nobis culpa, assumenda deserunt cumque consequuntur
          tenetur unde, iure pariatur incidunt minima quaerat odio non.
        </p>
        <button class="btn btn-dark mt-2 rounded-0">Download Resume</button>
      </div>
    </div>
  </div>
</div>
