<div class="container-fluid bg-black text-light px-5 py-2">
  <div class="row row-cols-3 align-items-center justify-content-between">
    <div class="col">
      <h5 class="fs-5 my-2">GET IN TOUCH</h5>
      <p>salaaelsayedgnail.com</p>
      <p>+201033310147</p>
    </div>
    <div class="col">
      <div class="text-center">
        <button class="btn btn-outline-light p-2 w-50">Contact Me</button>
      </div>
    </div>
    <div class="col">
      <div class="text-end">
        <p>Copyright reversed 2019 kR</p>
      </div>
    </div>
  </div>
</div>
