<div class="container-fluid text-white p-5">
  <div class="container">
    <div class="text-center mx-auto">
      <h2 class="mt-2">Skills</h2>
      <p class="my-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
        nostrum aut asperiores, cum nihil, mollitia, quae possimus numquam illo
        fuga voluptatem sapiente! Itaque veritatis dicta, cumque fuga laborum,
        numquam id rerum officiis vel laudantium saepe nostrum hic porro ipsam
        vero sunt repellat odit. Similique pariatur sint doloremque optio
        voluptatibus quae!
      </p>
    </div>
    <div class="row px-4 align-items-baseline">
      <div class="col-4">
        <div class="p-3">
          <h3 class="p-2 border-bottom border-white text-center">My focus</h3>
          <ul class="list-unstyled d-flex flex-column gap-2">
            <li>UI/UX Design</li>
            <li>Responsive Design</li>
            <li>Web Design</li>
            <li>Mobile App Design</li>
          </ul>
        </div>
      </div>
      <div class="col-6 d-flex flex-column gap-3">
        <div class="d-flex w-100 bg-white progrss">
          <div class="bg-dark px-2 py-1 w-25">Html5</div>
          <div class="bg-dark-subtle h-100 col-8"></div>
        </div>

        <div class="d-flex w-100 bg-white progrss">
          <div class="bg-dark px-2 py-1 w-25">Css3</div>
          <div class="bg-dark-subtle h-100 col-8"></div>
        </div>

        <div class="d-flex w-100 bg-white progrss">
          <div class="bg-dark px-2 py-1 w-25">javaScript</div>
          <div class="bg-dark-subtle h-100 col-6"></div>
        </div>

        <div class="d-flex w-100 bg-white progrss">
          <div class="bg-dark px-2 py-1 w-25">React</div>
          <div class="bg-dark-subtle h-100 col-8"></div>
        </div>

        <div class="d-flex w-100 bg-white progrss">
          <div class="bg-dark px-2 py-1 w-25">node-js</div>
          <div class="bg-dark-subtle h-100 col-6"></div>
        </div>

        <div class="d-flex w-100 bg-white progrss">
          <div class="bg-dark px-2 py-1 w-25">WordPress</div>
          <div class="bg-dark-subtle h-100 col-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
